<div class="container mt-4" style="background-color: #F5F5F5; padding: 10px; border-radius: 10px;">
    <h2 class="text-center " >GIFT PLANTS SRI-LANKA</h2>

    <p class="mt-2 text-center">Gift Plants Sri Lanka is our sub company . these are the products we sell </p>


    <div class="row mt-4">
      <div *ngFor="let inquiry of pagedInquiries" class="col-12 col-md-4 mb-4">
        <div class="card">
          <div class="card-body">

  
            <!-- Display attachments if any -->
            <div >
                <img *ngIf="inquiry.attachments[0].contentType.startsWith('image/')" 
                [src]="'data:' + inquiry.attachments[0].contentType + ';base64,' + inquiry.attachments[0].data" 
                alt="{{ inquiry.attachments[0].filename }}" 
                style="width: 160px; height: 160px; display: block; margin: 10px 0;" 
              />
            </div>

            <h5 class="card-title">{{ inquiry.title }}</h5>
            <p class="card-text">{{ inquiry.description }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="pagination-container text-center">
      <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button class="btn btn-primary" [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">Next</button>
    </div>
  </div>