<div class="contact-us-container">
    <div class="contact-box">
      <br>
      <h2><strong>Looking to Boost Your Income?</strong></h2>
      <br><br><br>
      <p>No need to submit an inquiry—just call us or drop a message, and we’ll call you!</p>
      <p><strong>+94 70707006</strong></p>
      <br>
      <p><strong>Contact us on WhatsApp</strong></p>
      <!-- WhatsApp Chat Button inside the contact box -->
      <div class="whatsapp-chat-button" (click)="openWhatsApp()">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="Chat on WhatsApp">
      </div>
  
      <br><br>
      <p>Email Us - <strong>{{ email }}</strong></p>
    </div>
  </div>