

.sideNav-parent {
    background: #1a1a1a;
    height: 125vh;
    width: 105%;
}



.sideNav-child1 {
    padding-top: 2px;
    padding-left: 0px;
    padding-right: 0px;
}





.mainNavItem:hover {
    background-color: DarkSlateGray;
}



.itm4:hover {
  background-color: DarkSlateGray;
}



.mainNavItem{
    background-color: #292424;
    border-radius: 10px;
    margin-top:8px; 
    margin-bottom:8px;
    margin-left:0px; 
    margin-right:0px;
    height: 50px;
    align-items: center;
}



.itm2{
  background-color: #333333;
  margin-top:4px;
  margin-bottom:4px;
  border-radius: 7px;
  margin-bottom:1px;

}

.itm4{
  background-color: #404040;
  margin-top:0px;
  margin-bottom:0px;

}


.mitm:hover {
  background-color: DarkSlateGray;
}

.mitm{
  background-color: black;
  margin-top:0.5px;
  margin-bottom:0.5px;
  height: 42px;
  align-items: center;
}



/* font-size: 0.8vw; */
.itsbtxt{
    font-size: 14px;
    color: white;
    font-weight: normal;
    margin-left:7.5%;
}



.ittxt{
    font-size:14px;
    color: white;
    font-weight: bold;
    margin-left:10px;
    margin-top:none;
    margin-bottom:5px;

}

.ittxt2{
  font-size:14px;
  color: white;
  font-weight: bold;
  margin-left:10px;
  /*margin-left:0.10%;*/
  margin-top:none;
  margin-bottom:5px;

}

.lnk{
  margin-top:1%;
}

.mat-icon {
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-top : 2px;
  }


/* custom css for tooltip */
.icon {
  font-size: 1.5rem; /* Default size for icons */
  margin-right: 4px; /* Space between the icon and adjacent content */
  margin-left: 8px;
  color: white; /* Primary color */
  vertical-align: middle; /* Aligns the icon with text */
  transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effect */
}


@media (max-width: 576px) {
  .icon {
    font-size: 1.0rem; /* Slightly smaller size for mobile devices */
    margin-left: 8px;
  }

  .ittxt{
    font-size:12px;
    color: white;
    margin-left:2px;

  } 


  .ittxt2{
    font-size:12px;
    color: white;
    font-weight: bold;
    margin-left:2px;
    /*margin-left:0.10%;*/
    margin-top:none;
    margin-bottom:5px;
  
  }

  .itsbtxt{
    font-size: 10px;
    color: white;
    font-weight: normal;
    margin-left:7.5%;
}
}