<ul class="nav nav-tabs mt-4" id="calendarTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab1" data-bs-toggle="tab" href="#calendar1" role="tab" aria-controls="calendar1" aria-selected="true">Team Calender</a>
    </li>
    <li class="nav-item d-none d-md-block" role="presentation">
      <a class="nav-link" id="tab2" data-bs-toggle="tab" href="#calendar2" role="tab" aria-controls="calendar2" aria-selected="false">TaskList</a>
    </li>

  </ul>
  
  <!-- Tab content -->
  <div class="tab-content mt-3" id="calendarTabsContent">
    
    <!-- First Tab: Calendar 1 -->
    <div class="tab-pane fade show active" id="calendar1" role="tabpanel" aria-labelledby="tab1">
      <div class="centered-content">
        <h1>SLBIS Internal Team Calendar</h1>
      
        <div class="calendar-container">
          <iframe 
            src="https://calendar.google.com/calendar/embed?src=4dec9409c52e0c753bc70a3a5823d026905a13800d7ba9d13362170cecc32adc@group.calendar.google.com&ctz=America%2FNew_York" 
            style="border: 0" 
            width="800" 
            height="600" 
            frameborder="0" 
            scrolling="no">
          </iframe>
        </div>
      
        <div class="mt-4">
          <a href="https://calendar.google.com/calendar/r?cid=4dec9409c52e0c753bc70a3a5823d026905a13800d7ba9d13362170cecc32adc@group.calendar.google.com" target="_blank">
            <strong>Open Our Group Calendar</strong>
          </a>
        </div>
      </div>
    </div>
    
    <!-- Second Tab: Calendar 2 -->
    <div class="tab-pane fade d-none d-md-block" id="calendar2" role="tabpanel" aria-labelledby="tab2">
      <div class="centered-content">
        <h1>SLBIS Internal Task Sheet</h1>
      
        
            <div class="google-sheet-container">
                <iframe 
                  src="https://docs.google.com/spreadsheets/d/1qm7-GotLLfGaUp_nrotIb4iluO7_ThgBmfCK5e7R-_c/edit?usp=sharing" 
                  width="400px" 
                  height="600" 
                  frameborder="0" 
                  scrolling="no">
                </iframe>
            </div>
        
      

      </div>
    </div>
    
    <!-- Third Tab: Calendar 3 -->

    
    <!-- Fourth Tab: Calendar 4 -->

  </div>