<head> 
    <link rel="stylesheet" href= 
"https://fonts.googleapis.com/icon?family=Material+Icons" /> 
</head> 

<div class="footer-dark" style="background: #2d3246;">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a>Customer Care Solutions</a></li>
                      <li><a>Design & Development</a></li>
                      <li><a>Digital Marketing</a></li>
                      <li><a>Maintainance & Support</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      
                      <li><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/about">About</a></li>
                      <li><a routerLink="/test">Services</a></li>
                      <li><a routerLink="/login" *ngIf=" !isLoggedIn()">Login</a></li>
                      
                  </ul>
              </div>
            
              <div class="col-md-6 item text">
                  <h3>SLBIS CCS</h3>
                  
                  <p>SL BIS Customer Care Solutions will make your one-time customer a lifetime customer.</p>
                  <p>SL BIS - Colombo,Sri Lanka</p>
              </div>
              
              <div class="col item social "><a  href="#"></a><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"></a></div> 
          </div>
          <p class="copyright">Developed for SLBIS - Developed By GreenShade-Sri Lanka(2024)</p>
          <p class="copyright">For Technical Inquiries contact - Nipun Dilhan(+94 717166618 - whatsapp) </p>
      </div>
  </footer>
</div>
