.container {
    max-width: 80%;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .file-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .file-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bold-label {
    font-weight: bold; /* Makes the text bold */
  }

  .text-center {
    text-align: center;
  }

  #priorityLevel {
    background-color: white; /* Default */
  }
  
  #priorityLevel option[value="LOW"] {
    background-color: #d4edda; /* Light green */
    color: black;
  }
  
  #priorityLevel option[value="MEDIUM"] {
    background-color: #fff3cd; /* Light yellow */
    color: black;
  }
  
  #priorityLevel option[value="HIGH"] {
    background-color: #f8d7da; /* Light red */
    color: black;
  }