.container {
    max-width: 90%;
    margin: 0 auto;
  }

  .text-center {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures that columns are evenly distributed */
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    word-wrap: break-word; /* Prevent long words from breaking the layout */
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  
  .pagination .page-link {
    color: #007bff;
    cursor: pointer;
  }
  
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust this value as needed */
  }
  
  .date-column {
    width: 120px; /* Fixed width for Date column */
    text-align: center;
  }
  
  /* Make table responsive on smaller screens */
  @media (max-width: 768px) {

    .form-control {
        width: 100%; /* Make form controls take full width on smaller screens */
    } 

    .container {
      padding: 0 15px;
    }
  
    table {
      width: 100%;
      font-size: 12px;
    }
  
    .pagination {
      font-size: 12px;
    }
  
    th, td {
      padding: 6px;
    }
  
    /* Stack pagination on smaller screens */
    .pagination {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .hide-on-small {
        display: none !important; /* Hide the columns on small screens */
      }
  }
  
  @media (max-width: 480px) {
    .truncate {
      max-width: 120px; /* Adjust truncation width for smaller screens */
    }
  
    .date-column {
      width: 80px; /* Adjust Date column width on mobile */
    }
  
    /* Make text inside table more readable on smaller screens */
    table {
      font-size: 10px;
    }

    .hide-on-small {
        display: none !important; /* Hide the columns on small screens */
      }
  }

  .status-pending {
    background-color: yellow;
    color: black;
  }
  
  .status-verified {
    background-color: blue;
    color: white;
  }
  
  .status-rejected {
    background-color: red;
    color: black;
  }
  
  .status-completed {
    background-color: lawngreen;
    color: black;
  }
  
  .status-default {
    background-color: white;
    color: black;
  }




  .low {
    background-color: lawngreen;
    color: black;
  }
  
  .medium {
    background-color: orange;
    color: black;
  }
  
  .high {
    background-color: red;
    color: black;
  }
  
